.container {
  padding: 0px 110px;
  display: flex;
  flex-direction: column;
  height: 512px;
}

.event {
  display: flex;
  flex-direction: row;
}

.info {
  flex: 1;
  background-color: blanchedalmond;
  padding: 32px;
}

.photo {
  background: url("../../assets/images/girl-reading.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  flex: 2;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  text-align: right;
}

.content {
  padding-right: 90px;
}

.content h5 {
  margin-bottom: 16px;
}

.content p {
  margin-bottom: 32px;
}

.dayplace {
  display: flex;
  flex-direction: row;
}

.dayplace p {
  padding-left: 8px;
}

.seeMore {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 50px;
  gap: 12px;
}

.arrow {
  width: 20px;
  height: 14px;
}

@media screen and (max-width: 1500px) {
  .container {
    padding: 0px 100px 90px;
  }

  .messages {
    justify-content: unset;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0px 82px 72px;
  }

  .info {
    flex: 1;
  }

  .photo {
    flex: 1;
    background-size: cover;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .photo {
    display: none;
  }
}
