.container {
  display: flex;
  width: 55vw;
  background-color: #fff;
}

.info {
  flex: 2;
  padding: 72px;
}

.info h2 {
  text-align: left;
}

.paragraph {
  padding-bottom: 16px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 48px;
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
  .container {
    width: 85vw;
  }
}

@media screen and (max-width: 992px) {
  .image {
    display: none;
  }
}
