.container {
  width: 250px;
  padding: 40px;
  background-color: #fff5eb;
  text-align: left;
}

.paragraph {
  color: var(--black, #161722);
}

.icon {
  width: 48px;
  height: 48px;
}

.bottomline {
  height: 16px;
  background-color: #ffd2a4;
}

@media screen and (max-width: 1200px) {
  .squares {
    flex: 1;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }
}
