.container {
  display: flex;
  flex-direction: column;
  padding: 0px 110px;
  text-align: center;
}

.squares {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
}

label {
  margin-top: 64px;
}

h2 {
  margin: 0px;
  margin-bottom: 32px;
}
