.container {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #0d0d0d;
  color: white;
  padding: 64px 110px;
}

.info {
  flex: 4;
}

.info p {
  color: #fff;
}

.quicklinks {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.quicklinks h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.link {
  color: var(--white, #fff);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 24px;
}

.connect {
  flex: 2;
}
.connect p {
  color: #fff;
}

.connect div {
  display: flex;
  flex-direction: row;
}

.connect h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.connect p {
  padding-right: 20px;
}

.suscribe {
  flex: 4;
}

.suscribe h4 {
  color: var(--white, #fff);
  /* Heading h4 */
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.input {
  padding: 20px;
  background-color: #161722;
  border: none;
  border-radius: 12px;
  outline: none;
  width: 512px;
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
    padding: 64px 90px;
  }

  .suscribe {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
    width: 75vw;
    justify-content: center;
    align-items: center;
  }

  .input {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50vw;
  }

  .connect {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 12px;
  }

  .quicklinks {
    flex-direction: row;
    align-items: baseline;
    gap: 16px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 64px 50px;
  }

  .input {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 75vw;
  }
}
