.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 230px;
  align-items: center;
}

.paragraph {
  color: #161722;
  padding-bottom: 32px;
}

.container button {
  margin-bottom: 48px;
}

.photoHolder {
  display: flex;
  justify-content: center;
}

.photoHolder img {
  padding: 0px 12px;
}

.lowerInfo {
  max-width: 512px;
  padding: 64px 0px;
}

.container div p {
  color: #161722;
}

.seeMore {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.arrow {
  width: 18px;
  height: 10px;
}

@media screen and (max-width: 1500px) {
  .container {
    padding: 60px 90px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 40px 80px;
  }
  .hiddenPhoto {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 20px 60px;
  }
}
