.container {
  padding: 0px 160px 110px;
  display: flex;
  flex-direction: column;
  background-color: #f5f2f0;
}

.container h2 {
  align-self: center;
  width: 450px;
}

.messages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
